body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('/./public/images/skyline-bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.header {
  flex: 1 1 auto;
  padding: 20px;
}

.detailed-text {
  flex: 1 1 auto;
  padding: 20px;
}

.search-boxes {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50%;
}

.search-boxes > div {
  margin: 10px;
  padding: 10px;
}

.search-boxes input {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}

.search-boxes label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}