body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
  align-items: center;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/./public/images/skyline-bg.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 10em;
}

.logo {
  width: 15em;
  height: 15em;
  filter: invert(100%);
  }

.header h1 {
  margin: 0;
  margin-top: 2em;
}

.detailed-text {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2em;
}

.search-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-boxes > div {
  padding: 2.5em;
  width: 30%;
  height: 3.125em;
}

.search-boxes input {
  width: 100%;
  height: 100%;
  padding: 0.625em;
  font-size: 1em;
}

.search-boxes label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.3125em;
}

.search-button button {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.625em;
  font-size: 1em;
  background-color: #CF5C36;
  border: none;
  border-radius: 0.3125em;
  color: white;
  cursor: pointer;
}

/* Search suggestions */
.search-box {
  position: relative;
}

.suggestions-list {
  color: black;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 20em;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}