body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow: hidden;
}

h2 {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 10em;
  color: white;
}

.header-text {
  flex: 1;
  margin: 0 10px;
}

.search-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 1em;
}

.search-box label {
  display: block;
  text-align: left;
  margin-bottom: 0.3em;
}

.search-button {
  border: none;
  cursor: pointer;
}

/* Search suggestions */
.search-box {
  position: relative;
}

.suggestions-list {
  color: black;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 20em;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.map {
  width: 100vw;
  height: 100vh;
}